.image-carousel {
  flex: 1;
  position: relative;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__timer {
    // padding-left: 146px;
  }

  &__timer-list {
    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__timer-item {
    display: flex;
    gap: 14px;

    &--active {
      background-color: pink;
    }

    &--pending {
      background-color: gray;
    }
  }

  &__pause {
    margin-top: 33px;
  }

  &__images {
    .inactive {
      opacity: 0.3;
    }

    .active {
      transform: translate(0, -50%);
    }

    img {
      position: absolute;
      width: 30%;
    }
  }
}
