.image-carousel {
  flex: 1;
  position: relative;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__timer {
    // padding-left: 146px;
  }

  &__timer-list {
    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__timer-item {
    display: flex;
    gap: 14px;

    &--active {
      background-color: pink;
    }

    &--pending {
      background-color: gray;
    }
  }

  &__pause {
    margin-top: 33px;
  }

  &__image {
    position: absolute;
    width: 30%;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 1s;

    &--active {
      transform: translate(0, -50%);
    }

    &--next {
      opacity: 0.3;
      transform: translate(83%, 14%);
    }

    &--third {
      opacity: 0.3;
      transform: translate(78%, -99%);
    }
  }
}
